/* Encabezado */
header {
    background-color: #D3B9D2; /* Fondo azul lila claro */
    padding: 10px;
    text-align: center;
  }
  
  #logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  #logo img {
    width: 40px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
  }
  
  #logo h1 {
    font-size: 24px;
    color: #000; /* Color de texto negro */
  }
  