/* Estilo para el cuerpo de la página Acerca de Mí */
body {
    background-color: #c7ffbe; /* Fondo verde manzana claro */
}

/* Estilo para la encabezado */
header {
    background-color: #c7ffbe; /* Fondo verde manzana claro */
    padding: 10px 0;
}

/* Estilo para la sección principal (donde está el texto, la imagen y el botón) */
#acerca-de-mi {
    background-color: #c7ffbe; /* Fondo verde manzana claro */
}

/* Resto de tus estilos para el texto, imagen y botón */
